<link rel="stylesheet" type="text/css" href="my-first-todo.component.css">
<div class="todo-list">
  <h1>Todo List</h1>
  <input type="text" ngModel="newTodoTitle" placeholder="New Todo">
  <button (click)="addTodo()">Add Todo</button>
  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" ngModel="my-first-todo.completed">
      <span ngClass="{'completed': todo.completed}">{{ todo.title }}</span>
      <button
        (click) = "removeTodo (todo)"> Remove </button>
      
    </li>
  </ul>
</div>
